*{
    margin: 0;
    font-family: 'Muli', sans-serif;
}

html,body{
    height: 100vh;
}

.mb-2{
    margin-bottom: 20px;
}

.NavList a{
    padding-left: 20px;
}

/* HEADER */ 

.header{
    background: #eeeeee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
}
.header__buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__buttons--notification{
    display: inherit;
    padding-right: 20px;
}
.header__buttons--notification img{
    width: 30px;
}
/* FIN HEADER */ 

@media screen and (min-width: 720px){ 
    .header{
        padding: 10px 40px 10px 40px;
    }
}