/* Nuevo Admin  */

.addNew{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px 10px 20px;
}
.addNew__button button{
    font-family: 'Muli', sans-serif;
    background-color: #eeeeee;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    color: #9b9999;
    font-weight: 600;
    letter-spacing: 0.3px;
}

/* FIN Nuevo Admin  */
